<launch>
<node pkg="rosserial_python" type="serial_node.py" name="ARDUINO1" args="/dev/ttyACM0" respawn="true" output="screen" />
<node pkg="rosserial_python" type="serial_node.py" name="ARDUINO2" args="/dev/ttyACM1" respawn="true" output="screen" />

<include file="$(find robotbase)/launch/joystick_teleop.launch" />

</launch>
